# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates
.vs/

# Configuration files with sensitive data
**/App.config
**/Web.config

# NuGet Packages
*.nupkg
packages/
*.nuget.props
*.nuget.targets

# Build logs
*.log
build_*.txt
full_build.txt
err*.txt

# Other
*.cache
*.pdb
UpgradeLog.htm
